*{
     margin:0;
     padding:0;
     box-sizing: border-box;
}
html{
     overflow: hidden;
}
.main{
     width: 100%; 
     height: 100vh; 
     background-color: rgb(15, 14, 15);
     display: flex; 
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     transform: 1s ease-in-out all;
}
.main .text-anim{
   font-size: 50px;
   color: transparent;
   position: relative;
   animation: anim2 2s ease forwards;
   animation-delay: 1s;
}
.main .text-anim::after{
     position: absolute;
     content: ''; 
     width:0;
     height: 100%; 
     left: 0; 
     top: 0; 
     background-color: tomato;
     animation: anim1 2s ease-in;
}
@keyframes anim1{
     50%{
          width: 100%;
          left:0;
     }
     100%{
          width:0; 
          left: 100%; 
     }

}
@keyframes anim2{
     100%{
          color: white
     }
}
.main .hero{
    
     background-color: teal;
     width:500px;
     height:500px;
     background: url(./firstavatar.png);
     background-size: cover; 
     position: relative;
     margin-top: 30px;
}
.main .hero::after{
     content: '';
     position: absolute;
     left:0;
     top:0;
     background-color: rgba(0, 0, 0, 0.452);
     width: 100%; 
     height: 100%;
}
.container{
     width: 100%; 
     height: auto; 
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: teal;
     padding: 1rem 0;
     margin: 0 auto;
    
}

header .brand{
     margin-left: 30px;
}
.header header{
     width: 100%; 
     display: flex;
     align-items: center;
     justify-content: space-between;
     
}

.header header .nav-bar{
     width: 100%;
     height: 100vh;
     position: absolute;
     display: flex;
     top: 77px;
     left:0;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-color: gray;
     transition: .5s ease-in-out all;
     transform: translateX(100%);
     margin-right: 50px;
     z-index: 1;
     
}
.header header .nav-bar.chk{
     transform: translateX(0);
}
.header header .nav-bar .nav-list{
     list-style: none;
     display: flex;
     flex-direction: column;
     padding-bottom: 10px;
     text-align: center;

}
.header header .nav-bar .nav-list a{
    text-decoration: none;
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
     
}
.header header .nav-bar .nav-button{
     width: 100%; 
     display: block;
     border-top: 1px solid rgba(236, 232, 232, 0.637);     
     text-align: center;
     padding: 10px 0;
    
}
.header header .nav-bar .nav-button a{
     text-decoration: none;
     color: black;
     font-size: 2rem;
     background-color: cadetblue;
     display: inline-block;
     padding: 25px 80px;
    
}

.header .ham{
     border: 2px solid black;
     padding: 20px;
     display: inline-block;
     cursor: pointer;
}
.header .ham .bar{
     width: 30px;
     height: 3px;
     background-color: black;
     position: relative;
     transition: .5s ease-in-out all;

     
}
.header .ham .bar::after, 
.header .ham .bar::before{
     position: absolute;
     content: '';
     width: 30px; 
     left: 0; 
     height: 3px;
     background-color: black;
     transition: .5s ease-in-out all;
} 
.header .ham .bar::after{
     top: 5px;
}
.header .ham .bar::before{
     top: -5px;
}

.header .ham .bar.chk::after{
     top:0;
     transform: rotate(45deg);
}
.header .ham .bar.chk::before{
     top:0;
     transform: rotate(-45deg);
}
.header .ham .bar.chk{
     background-color: transparent;
}

@media only screen and (min-width: 1200px){
     .header header .nav-bar{
          position: initial;
          transform: translate(0,0);
          width: auto;
          height: auto;
          flex-direction: row;
          background-color: transparent;
          padding:0;
     }
     .header header .nav-bar .nav-list{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-items: center;
         
     }
     .header header .nav-bar .nav-list li{
          padding: 0 10px;
          align-items: center;
          justify-items: center;
          display: flex;
          width: max-content;
         
     }
     .header header .nav-bar .nav-list li a{
          color: black;
          font-size: 1rem;
         
     }
     .header .ham{
          display: none;
     }
     .header header .nav-bar .nav-button{
          padding:0;
          border:none;
         
     }
     .header header .nav-bar .nav-button a{ 
          font-size: 1.2rem;
         
     }
     .main{
          flex-direction: row;
     }


}